[submodule "BeerTracker"]
	path = BeerTracker
	url = https://github.com/MrDuLee/BeerTracker.git
[submodule "Runtracker"]
	path = Runtracker
	url = https://github.com/MrDuLee/RunTracker.git
[submodule "StuffTracker"]
	path = StuffTracker
	url = https://github.com/MrDuLee/StuffTracker.git
